#top-bar {
    height: var(--top-nav-height);
    width: 100vw;
    background-color: var(--outer-ui-background-color);
    border-bottom: 1px solid var(--outer-ui-background-contrast-color);
}

#main-content {
    height: var(--main-content-height);
    padding: var(--main-content-padding);
    background-color: var(--inner-ui-background-color);
    overflow-y: scroll;
    overflow-x: clip;
}