#queue {
  width: calc(36vw - 10px);
  height: calc(100% - 10px);
  margin-bottom: 10px;
  overflow-y: auto;
}
#queue > #no-tracks {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  font-size: 18px;
  color: black;
  text-align: center;
  cursor: default;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.queue-track {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.queue-track.selected-track {
  background-color: var(--queue-track-background-color);
}
.queue-track.not-selected-track {
  background-color: var(--queue-track-selected-background-color);
}

.queue-tartist {
  margin-right: 10px;
}
.queue-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 900;
}
.queue-artist {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 14px;
}

.queue-track > img {
  width: 48px;
  height: 48px;
  margin-right: 10px;
  margin: 5px;
}

.queue-track-button-remove {
  margin-right: 10px;
  margin-left: auto;
  cursor: pointer;
}